{
  "signing": {
    "default": {
      "expiry": "8760h"
    },
    "profiles": {
      "{{ ca.profile }}": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "8760h"
      }
    }
  }
}
