apiVersion: v1
kind: List
items:
- apiVersion: types.kubefed.io/v1beta1
  kind: FederatedSecret
  metadata:
    name: mongodb-secret
  spec:
    template:
      data:
        database-admin-password: Y2x5ZGU=
        database-name: cGFjbWFu
        database-password: cGlua3k=
        database-user: Ymxpbmt5
        keyfile-value: cjNkaDR0Cg==
      type: Opaque
    placement:
      clusterSelector:
        matchLabels:
          cluster: available

- apiVersion: types.kubefed.io/v1beta1
  kind: FederatedSecret
  metadata:
    name: mongodb-ssl
  spec:
    template:
      data:
        mongodb.pem: {{ mongodb_pem_data }}
        ca.pem: {{ ca_pem_data }}
      type: Opaque
    placement:
      clusterSelector:
        matchLabels:
          cluster: available
